.hero {
  text-align: center;
  position: relative;

  @media (min-width: $desktop-width) {
    &::before {
      @include background-image-setting((linear-gradient(to right, rgba(104, 183, 56, 0.85) 1030px, #6ca448 1030px), url("../../images/background/hero_background_desktop@1x.jpg")), cover, left top,no-repeat);
      content: "";
      position: absolute;
      width: 50%;
      height: 700px;
      top: -120px;
      left: 50%;
      bottom: 0;
      z-index: -1;
      box-shadow: 0 -700px 0 0 #6ca448;

      @media (min-resolution: 192dpi) {
        @include background-image-setting((linear-gradient(to right, rgba(104, 183, 56, 0.85) 1030px, #6ca448 1030px), url("../../images/background/hero_background_desktop@2x.jpg")), cover, left top,no-repeat);
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      top: 814px;
      left: 50%;
      bottom: 0;
      z-index: -1;
      box-shadow: 0 -100vh 0 0 #6ca448;
    }
  }
}

.hero__container {
  @include flex-setting(column, space-between, stretch, 0, nowrap);
  @include padding-adaptive($tablet-width, 40px 230px 0 120px);
  @include padding-adaptive($desktop-width, 0 414px 52px 190px);
  padding: 27px $padding-mobile 0;
  position: relative;

  @media (max-width: $mobile-width) {
    @include background-image-setting((linear-gradient(rgba(104, 183, 56, 0.85) 60%, $light-color 60%), url("../../images/background/hero_background_mobile@1x.jpg")), (cover, contain), top left, no-repeat);

    @media (min-resolution: 192dpi) {
      @include background-image-setting((linear-gradient(rgba(104, 183, 56, 0.85) 60%, $light-color 60%), url("../../images/background/hero_background_mobile@2x.jpg")), (cover, contain), top left, no-repeat);
    }
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 880px;
  }

  @media (min-width: $desktop-width) {
    min-height: 580px;
  }
}

.hero__title {
  @include margin-adaptive($tablet-width, 0 0 40px);
  @include margin-adaptive($desktop-width, 70px 450px 40px 0);
  margin: 0 0 25px;

  @media (max-width: $mobile-width) {
    color: $light-color;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.hero__text {
  @include font-setting($secondary-font, 14px, 400, 14px, $dark-color);
  @include font-adaptive($tablet-width, 20px, 400, 20px);
  @include margin-adaptive($tablet-width, 0 0 50px);
  margin-bottom: 29px;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    color: $light-color;
  }
}

.hero__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 240px;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 29px;
    left: 560px;
  }
}

.hero__button {
  @include font-adaptive($tablet-width, 20px, 400, 26px);
  padding: 14px 24px;
  z-index: 1;
}
